form {
  display: flex;
  justify-content: center;
  margin: 100px;
  /* height: 300px; */
  align-items: center;
  flex-direction: column;
}

input {
  font-size: 35px;
  height: 50px;
  margin: 0px 30px 5px;
  border-color: 5px solid #045325;
}

button {
  height: 100px;
  width: 300px;
  font-size: 50px;
  border: 0px;
  background: none;
  border: 3px solid #045325;
  border-radius: 8px;
}

button:hover {
  background-image: linear-gradient(to right, #07f57e, #045325);
  color: white;
  cursor: pointer;
  border: white;
  transition: all 0.5s;
}


label {
  font-size: 50px;
  margin: 25px;
  align-items: center;
  text-align: center;
  color: #045325;
}